<card class="width-100"
      [colors]="colors">
  <form [formGroup]="passwordForm"
    (ngSubmit)="login()"
    class="width-100">
    <div class="width-100 flex flex-column px2 py3">
      <div class="mb2">
        <span class="cursor bold"
              routerLink="/account/login/username">{{authentication.username}}</span>
      </div>
      <div class="flex flex-column items-start">
        <div class="flex justify-between width-100 mb1">
          <label for="password"
                 localize="password"></label>
          <password-visibility-button [colors]="colors"
                                      (visibleChanges)="changePasswordVisibility($event)"></password-visibility-button>
        </div>
        <input id="password"
               class="col-12 mb1 input"
               [attr.type]="passwordType"
               formControlName="password" />
        <div class="width-100"
             *ngIf="authentication.error">
          <alert [colors]="colors"
                 type="error">
            <span localize="error"></span>
          </alert>
        </div>
        <div class="flex justify-center width-100 my1">
          <span localize="differentAccount"
                class="cursor"
                [style.color]="colors.primary"
                routerLink="/account/login/username"></span>
        </div>
      </div>
    </div>
  </form>
</card>
<button-control [showChevron]="false"
                (onClick)="login()"
                [disabled]="!passwordForm.valid || authentication.isLoggingIn"
                width="100%"
                className="h4 regular px3 py2">
  <span localize="login"></span>
</button-control>

<text-button [color]="colors.primary"
             (onClick)="navigateToForgotPassword()"
             class="forgot">
  <span localize="forgotPassword"></span>
</text-button>
