:host {
  button {
    border: none;
    box-shadow: none;
    outline: none;
    transition: all 150ms ease-in-out;
    white-space: nowrap;
    overflow: hidden;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    &:disabled {
      opacity: 0.3;
    }

    span.fa.fa-chevron-right {
      margin-left: 0.25rem;
    }
  }
}
