:host li {
  transition: all .25s ease-in-out 0s;
  margin-bottom: 0.5rem;
  font-size: 80%;

  span.fa.fa-circle {
    margin: 0 0.5rem;
    transition: all .25s ease-in-out 0s;
    font-size: 80%;
  }
}