:host {
  img.portfolioCover {
    display: block;
    width: auto;
    height: 120px;
    margin: 0 auto;
  }

  table.cardTable {
    thead {
      tr {
        th.fundPercentageHeaderColumn {
          text-align: center;
        }
      }
    }
  }
}