<div [formGroup]="formGroup">
  <div class="flex justify-between">
    <label [attr.for]="id"
           [localize]="labelLocalizationKey"></label>
    <password-visibility-button *ngIf="hasPasswordVisibilityButton"
                                [colors]="colors"
                                (visibleChanges)="visibleChanges.emit($event)"></password-visibility-button>
  </div>
  <div class="field-container">
    <input id="{{id}}"
           class="col-12 mb1 input"
           placeholder="{{placeholder}}"
           type="{{inputType}}"
           formControlName="{{id}}" />
    <i class="fa fa-check valid-icon"
       [style.color]="colors.primary"
       *ngIf="valid"></i>
  </div>
</div>