<card class="width-100"
      [colors]="colors">
  <form [formGroup]="forgotPasswordForm"
        (ngSubmit)="submit()"
        class="width-100">
    <div class="width-100 flex flex-column items-start px2 py3">
      <label for="username"
             localize="typeInYourUsername"
             class="mb1"></label>
      <input id="username"
             class="col-12 mb1 input"
             type="text"
             formControlName="username" />
    </div>
  </form>
</card>

<button-control [showChevron]="false"
                (onClick)="submit()"
                [disabled]="!forgotPasswordForm.valid"
                width="100%"
                className="h4 regular px3 py2">
  <span localize="resetPassword"></span>
</button-control>
