:host {
  display: block;
  position: relative;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;

  .totalUnread {
    position: absolute;
    top: -0.25rem;
    right: 0.75rem;

    height: 1rem;
    width: 1rem;

    padding: 0.12rem 0.25rem 0.25rem 0.25rem;
    border-radius: 100rem;

    font-size: 60%;
    text-align: center;
  }

  .fa.fa-caret-down {
    margin-left: 0.5rem;
  }
}
