<section class="info"
         [style.backgroundColor]="colors.contentBackground | darkenColor:7"
         [style.borderColor]="colors.contentBackground">
  <ul class="contact">
    <li>+1 (416) 979-3700</li>
    <li>success@univeris.com</li>
  </ul>
  <nav>
    <ul>
      <li>Legal</li>
      <li>Disclaimers</li>
      <li>Privacy Statement</li>
    </ul>
  </nav>
</section>
<section class="copyright"
         [style.backgroundColor]="colors.contentBackground | darkenColor:7">
  &copy; 1997-2016 Univeris Corporation. All Rights Reserved.
</section>
<section class="poweredBy">
  <div>Powered by</div>
  <img src="assets/univeris-logo.png"/>
</section>